.image-wrapper {
  background-color: #fff;  /* 배경색을 흰색으로 설정 */
  box-shadow: 4px 8px 20px rgba(0, 0, 0, 0.1);  
  overflow: hidden;  /* 이미지와 콘텐츠가 넘치지 않도록 설정 */
  transition: transform 0.3s ease-in-out;  /* 호버 시 부드럽게 변화 */
  padding: 20px;  /* 콘텐츠와 테두리 간격 */
  text-align: center;  /* 텍스트 중앙 정렬 */
  display: flex;
  flex-direction: column;
  border: 1px solid black;
  align-items: center;
  margin: 10px auto ;
}

.image-wrapper:hover {
  transform: scale(1.05);  /* 호버 시 약간 확대 */
}

.product-image {
  width: 100%;  /* 이미지 너비 100%로 설정 */
  height: 250px;  /* 고정된 높이 */
  object-fit: contain;  /* 이미지 비율을 유지하며 영역 안에 다 들어가도록 설정 */
  border-radius: 8px;  /* 이미지 모서리 둥글게 처리 */
}

.product-info {
  margin-top: 15px;
}

.product-title {
  font-size: 1.5rem;
  font-weight: 600;
  margin-bottom: 10px;
  color: #333;  /* 글자 색상 */
}

.product-price {
  font-size: 1.2rem;
  font-weight: 500;
  color: #ff5722;  /* 가격을 눈에 띄게 주기 위해 주황색으로 설정 */
  margin-bottom: 10px;
}

.product-stock {
  font-size: 1rem;
  font-weight: 400; 
  color: #777;  /* 재고는 덜 강조되게 색상 설정 */
}

.time-ago {
  font-size: 1rem;
  color: #777;
  margin-bottom: 10px;
}

.row {
  display: flex;
  margin-left: -10px;
  margin-right: -30px;
}

