.login-button {
    width: 100%;

    color: white;
    background-color: #ae8fca;

    padding: 12px;
    border: 5px;
    border-radius: 6px;
    border-color: rgba(84, 46, 119, 0.5);

    font-size: 16px;
    font-weight: bold;

    cursor: pointer;
}

.signup-button {
    width: 100%;

    color: white;
    background-color: #cab08f;

    padding: 12px;
    border: 5px;
    border-radius: 6px;
    border-color: rgba(119, 85, 46, 0.5);

    font-size: 16px;
    font-weight: bold;

    cursor: pointer;
}

.edit-button {
    background-color: #4CAF50; /* Green background */
    color: white; /* White text */
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: opacity 0.3s ease-in-out;
  }
  
  .edit-button:hover {
    opacity: 0.5; /* Makes text translucent */
    cursor: pointer;
  }