.auth-container {
  width: 50%;
  max-width: 90vw;
  min-width: 320px;
  
  height: 100vh;
  margin: auto;
  padding-bottom: 300px;
  
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.login-box {
  border: 1px solid #a855f7;
  border-radius: 8px;
  padding: 24px;
  width: 384px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  background: white;
}

.register-box {
  border: 1px solid #55f7a8;
  border-radius: 8px;
  padding: 24px;
  width: 384px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  background: white;
}

.auth-title {
  font-size: 1.25rem;
  font-weight: bold;
  text-align: center;
  margin-bottom: 16px;
}

.login-input {
  width: 100%;
  padding: 8px;
  margin-top: 16px;
  border: 1px solid #d1d5db;
  border-radius: 6px;
  outline: none;
}

.login-input:focus {
  border-color: #a855f7;
  box-shadow: 0px 0px 5px rgba(168, 85, 247, 0.5);
}

.register-input {
  width: 100%;
  padding: 8px;
  margin-top: 16px;
  border: 1px solid #d2e7dd;
  border-radius: 6px;
  outline: none;
}

.register-input:focus {
  border-color: #55f7a8;
  box-shadow: 0px 0px 5px rgba(111, 235, 148, 0.5);
}

.auth-footer {
  text-align: center;
  font-size: 0.875rem;
  margin-top: 16px;
}

.toggle-auth-button { 
  border: none;
  margin-left: 10%;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  transition: background 0.3s ease;
}

.toggle-auth-button:hover {
  background: rgba(0, 0, 0, 0.2);
  cursor: pointer;
}

.google-login-btn {
  background-color: #4285f4;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 10px;
}

.google-login-btn:hover {
  background-color: #357abd;
}