.gsi-material-button {
    background-color: #75a3ee;
    border: none;
    border-radius: 4px;
    box-sizing: border-box;
    color: white;
    cursor: pointer;
    font-family: "Roboto", arial, sans-serif;
    font-size: 14px;
    height: 40px;
    width: 183px;
    padding: 0 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
    transition: background-color 0.218s, border-color 0.218s, box-shadow 0.218s;
  }
  
  .gsi-material-button-icon {
    height: 20px;
    width: 20px;
    flex-shrink: 0;
  }
  
  .gsi-material-button-content-wrapper {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: center;
  }
  
  .gsi-material-button-contents {
    font-weight: 500;
    white-space: nowrap;
  }
  
  .gsi-material-button:disabled {
    background-color: #ffffff61;
    border-color: #1f1f1f1f;
    cursor: default;
  }
  
  .gsi-material-button:not(:disabled):hover {
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.3), 0 1px 3px 1px rgba(0, 0, 0, 0.15);
  }
  