.detail-page {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  height: 100vh;
  width: 100%;
  padding-top: 50px;
  font-family: 'Arial', sans-serif;
  background-color: #ffffff;
}

.left-section {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.product-image {
  max-width: 90%;
  height: auto;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.right-section {
  flex: 1;
  padding: 20px;
  max-width: 500px;
}

.product-title {
  font-size: 2rem;
  font-weight: bold;
  color: #333;
  margin-bottom: 10px;
}

.product-price {
  font-size: 1.8rem;
  font-weight: bold;
  color: #ff6600;
  margin-bottom: 15px;
}

.product-content {
  font-size: 1.2rem;
  color: #555;
  margin-bottom: 20px;
}

.views {
  display: flex;
  align-items: center;
  font-size: 1rem;
  margin-left: 10px;
  color: #555;
}

.eye-icon {
  margin-right: 8px;
  color: #888;
}

.heart-icon {
  margin-left: 20px;
  margin-right: 8px;
  color: #888;
}

.star-icon {
  margin-left: 20px;
  margin-right: 8px;
  color: #FFD700;
  font-size: 1rem;
}

.buttons {
  display: flex;
  gap: 10px;
  justify-content: space-between;
  margin-top: 20px;
}

.buttons button {
  flex: 1;
  padding: 12px;
  font-size: 1rem;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.wishlist {
  background: none;
  border: none;
  font-size: 30px;
  cursor: pointer;
  transition: color 0.3s ease;
}

.wishlist.liked .liked {
  color: red; /* 좋아요 상태 */
}

.wishlist .unliked {
  color: grey; /* 기본 상태 */
}

.wishlist:disabled {
  opacity: 0.5; /* 요청 중 비활성화 시각적 피드백 */
  cursor: not-allowed;
}
/* .wishlist:not(.liked) {
  color: gray;
} */

.wishlist:hover {
  transform: scale(1.1);
}

.chat {
  background-color: #ffcc00;
  color: black;
}
.chat:hover {
  background-color: #e6b800;
}

.buy-now {
  background-color: #ff33f5 !important;
  color: white !important;
}
.buy-now:hover {
  background-color: #a31f9d !important;
}

.review {
  background-color: #007bff;
  color: white;
}
.review:hover {
  background-color: #0056b3;
}

.edit {
  background-color: #28a745;
  color: white;
}

.edit:hover {
  background-color: #218838;
}

.delete {
  background-color: #ff3333;
  color: white;
}

.delete:hover {
  background-color: #cc0000;
}
