.edit-account-container {
    width: 50%;
    max-width: 900px;
    min-width: 700px;
    
    height: 100vh;
    margin: auto;
    padding-bottom: 300px;
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;
  }

  .edit-box {
    min-height: 300px;
    border: 1px solid #f75555;
    border-radius: 8px;
    padding: 24px;
    width: 684px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    background: white;
  }

  .edit-input-container {
    width: 100%;
    padding: 8px;
    margin-right: 16px;
    border: none;
  }

  .edit-input {
    width: 60%;
    padding: 8px;
    margin-top: 20px;
    margin-bottom: 20px;
    border: 1px solid #d1d5db;
    border-radius: 6px;
    outline: none;
  }

  .profile-pic-circle {
    align-self: flex-end;
    margin-bottom: 50px;
  }

  .profile-pic-circle img {
    width: 150px;
    height: 150px;
    object-fit: cover;
    border-radius: 50%;
    border: 3px solid #333;
  }