.mainpagediv{
  display: flex;
  justify-content: center;
}

.mainImg{
  width: 100%;
  height: auto;
  object-fit: cover;
  margin: 10px auto;
}
.main_colum_1, .main_colum_2, .main_colum_3 {
  display: flex;
  justify-content: center;
  align-items: center;
  background-size: cover;
  background-position: center;
  color: white;
  height: 300px; /* 고정 높이 */
}
.main_colum_1{
  background-image: url('/public/image/birthday.jpg');
 
}
.main_colum_2{
  background-image: url('/public/image/party.jpg');
  
}
.main_colum_3{
  background-image: url('/public/image/choice.jpg');
  
}
/* custom-dropdown 클래스에 대해 스타일링
.custom-dropdown .dropdown-toggle {
  color: white;  /* 카테고리 텍스트 색상을 화이트로 변경 */
/* } */

/* .custom-dropdown .dropdown-toggle:hover {
  color: white;  /* 호버 시에도 텍스트 색상 유지 */
/* } */
/* .custom-dropdown .dropdown-toggle:active {
  color: white;
}
.custom-dropdown .dropdown-toggle:focus {
  color: white;
} */
/* 밑에는 CartPage */
.cartPage{
  margin: 10px auto;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
}
.cartDiv_box{
  border: 1px solid black;
  width: 600px;
  margin: 10px;
  padding: 10px;
  display: flex;
  justify-content: space-between; /* 왼쪽과 오른쪽에 공간을 배분 */
}
.cartImg_box{
  border: 1px solid black;
  margin: 10px;
  padding: 10px;
  width: 400px; /* 두 div를 가로로 배치하기 위해 너비 설정 */
}
.cartInfo_box{
  border: 1px solid black;
  margin: 10px;
  padding: 10px;
  width: 300px; /* 두 div를 가로로 배치하기 위해 너비 설정 */
}
.cartImg{
  width: 200px; /* 이미지가 부모 div의 너비를 채우도록 설정 */
  height: auto; /* 비율에 맞게 자동으로 높이를 설정 */
}
/* searchBar Css */
.searchInput{
  width: 500px;
  height: 35px;
  border-radius: 10px;
  border: 1px solid #999999;
}
.searchInput{
  font-size: 15px;
  font-weight: 60;
  padding: 5px;
}
.searchInput:focus{
  outline: 1.5px solid #999999;
}
.searchInput:focus::placeholder {
  color: transparent;
}
.searchBox{
  position: relative;
  width: 700px;
  display: flex;
  margin: 0 auto;
  margin-top: 20px;
}
.search-Img{
  height: 30px;
}
.search-Img:hover{
  filter: invert(62%) sepia(87%) saturate(275%) hue-rotate(344deg) brightness(102%) contrast(98%);
}
#search-Btn{
  border: none;
  background-color: #ffffff;
  right: 15px;
  top: 7px;
  cursor: pointer;
}
/* searchBar Css(End) */
