name: 배포
env:
  REACT_APP_BASE_URL: "http://3.36.33.178:8081"  # 새 IP
on:
  push:
    branches: [ "develop" ]
jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: 체크아웃
        uses: actions/checkout@v3
      - name: Node.js 설정
        uses: actions/setup-node@v3
        with:
          node-version: '20'
      - name: 의존성 설치 및 빌드
        run: |
          npm install
          npm run build
      - name: 도커허브에 로그인
        uses: docker/login-action@v1
        with:
          username: ${{ secrets.DOCKER_USER_NAME }}
          password: ${{ secrets.DOCKER_USER_PW }}
      - name: 이미지 빌드
        run: docker build -t ${{ secrets.DOCKER_USER_NAME }}/dopaminx-fe-front .
      - name: 도커허브에 이미지 푸시
        run: docker push ${{ secrets.DOCKER_USER_NAME }}/dopaminx-fe-front
      - name: AWS EC2에 ssh 접속 후 배포
        uses: appleboy/ssh-action@master
        with:
          host: 3.36.33.178  # 새 IP
          port: 22
          username: ubuntu
          key: ${{ secrets.AWS_KEY }}
          script: |
            sudo timedatectl set-timezone Asia/Seoul
            echo "AWS 연결"
            docker pull ${{ secrets.DOCKER_USER_NAME }}/dopaminx-fe-front
            docker-compose down
            docker volume prune -f
            docker-compose up -d --force-recreate